name: Push & PR Verification

on:
  push:
    branches-ignore: [master, beta, alpha]
  pull_request:

jobs:
  commit-lint:
    runs-on: ubuntu-latest

    name: Run commitlint
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: 14
          check-latest: true

      - run: npm ci

      - run: "npx commitlint --from HEAD~1 --to HEAD"

  code-lint:
    runs-on: ubuntu-latest

    name: Run eslint
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: 14
          check-latest: true

      - run: npm ci

      - run: npx eslint

  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

        node_version:
          - 10
          - 12
          - 14

        architecture:
          - x86
          - x64

    runs-on: ${{ matrix.os }}

    name: Test on ${{ matrix.os }} (${{ matrix.architecture }}) (Node v${{ matrix.node_version }})
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}
          architecture: ${{ matrix.architecture }}

      - run: npm ci

      - run: npm test
